{% extends 'base.html' %}



{% block content %}

<br><br><br><br>
<!--
Just wanted to see if my methods worked correctly
. -->
{% if resume_object %}
    {{ resume_object.last_name_first_name }}
    {{ resume_object.full_name }}
{% endif %}


<h1>Education</h1>

<!--
More or less the same as before, except now we are
looping over an education and experience object that got passed
through from the foreign key realtions in the models
. -->


{% for education in resume_object.get_education %}
    <p>Insitution Name: {{ education.institution_name }}</p>
    <p>Location: {{ education.location }}</p>
    <p>Degree: {{ education.degree }}</p>
    <p>Major: {{ education.major }}</p>
    <p>GPA: {{ education.gpa }}</p>
{% endfor %}

<h1>Experience</h1>

{% for experience in resume_object.get_experience %}
    <p>Title: {{ experience.title }}</p>
    <p>Location: {{ experience.location }}</p>
    <p>Start Date: {{ experience.start_date }}</p>
    <p>End Date: {{ experience.end_date }}</p>
    <p>Description: {{ experience.description }}</p>
{% endfor %}


</body>
{% endblock content %}
