{% extends 'base.html' %}


{% block content %}
<body>
    NICHOLAS BIELINSKI<br>

    I have experience with software development, web development, and networking. I have job experience working as a software developer intern and an I.T. intern.<br>

    <br>EDUCATION<br>
    Information Technology, M.S.									   2017 – Expected 2018<br>
    University of New Hampshire at Manchester, Manchester, NH | GPA: 3.50<br><br>

    Computer Information Systems, B.S. 								                    2015 –2017<br>
    University of New Hampshire at Manchester, Manchester, NH | GPA: 3.51                                                        Dean’s List<br><br>

    Associate in Science with a Major in Information Technology 					                   2013 – 2015<br>
    NHTI, Concords Community College, Concord, NH							       Dean’s List<br>

    <br>WORK EXPERIENCE<br>
    <h4>Software Developer - University of New Hampshire at Manchester STEM, Manchester, NH     May 2016 – February 2017<br></h4>

    Collaborated with Prevention Innovations Research Center at UNH Durham to create an application uSafeNH.
    Implemented the uSafeNH application that provides information and contacts for victims and non-victims of sexual assault.<br>

    <ul>
      <li>Adobe PhoneGap used to export source code to iOS and Android</li>
      <li>Written in HTML/JavaScript/CSS</li>
      <li>PHP for server side scripting</li>
      <li>Hosted backend on Amazon Web Services</li>
    </ul>

    <h4>I.T. Internship - Londonderry School District, Londonderry, NH				     June 2013 – September 2013<br></h4>

    Selected to provide I.T. support to the Londonderry School District, with a focus on Londonderry High School.
    Provided help directly to teachers over the summer. Worked on setting up applications and computer systems required for teaching.<br>
    <ul>
        <li>Fix computer systems based on faculties needs</li>
        <li>Setup smart boards and projectors</li>
        <li>Helped rewire classrooms ethernet connections</li>
        <li>Repaired, maintained, built, and removed computers, monitors, routers and switches</li>
        <li>Updated computer labs with operating system images</li>
    </ul>

    <br>PROJECT EXPERIENCE<br><br>
    uSafeNH Android and iOS application while a student at UNH Manchester<br>

    <p>I learned how to better collaborate in a team environment,
    how to meet deadlines, and how to solicit information from people in order to create and implement those requirements needed in the application.
    I had to teach myself about different programming languages, deploying applications on Google Play and Apple App Store, server hosting, and database management.</p><br>

    Campus Safety Android application while a student at NHTI<br>

    <p>I created this application for NHTI's Campus Safety Department.
    I used Android Studio and Java in order to create an application for students to easily get in touch with various members of the Safety Department.
    I was the sole developer on this project. This experience taught me a lot about time management, communication with your customer, and software development.</p><br>

    EXPERIENCE WITH<br>

    <ul>
        <li>Programming Languages: Java, Python, C++, HTML, JavaScript, CSS, jQuery, Perl</li>

        <li>Frameworks: Django, Django Rest Framework</li>

        <li>Operating Systems: Windows XP, Windows 7, Windows 10, Linux (Ubuntu, Fedora, Red Hat)</li>

        <li>IDE’s: Visual Studio 2015, Eclipse</li>
    </ul>

</body>
{% endblock content %}
