{% extends 'base.html' %}


{% block content %}
<h2><a href="www.usafeus.org">uSafeUS</a></h2>
<p>
    This is a project that I worked on during the summer of 2016 and into the spring of 2017.
    It was an application that owuld provide resources for people who had experienced sexual assualt,
    with a specific aim to focus on universities and using university and local community resources.

    The application and website have developed since I left the project in the summer of 2017,
    but I still helped lay down the foundation that is being used today. This is the biggest
    project that I have worked on to date, coding wise.
</p>
<h2>NHTI Campus Safety Application</a></h2>
<p>
    This is another application I had worked on previously. This application was completely in Java.
    I used Android Studio to work on the project. The goal was to provide Campus Safety
    resources into the hands of people at the college. Functionality and information wise
    it worked fine. The only thing lacking was perhaps the design. I'm not much
    of a visual designer kind of guy. Not sure what happened to this when I left.
    I left all source code, keys and passwords, but never heard anything after my summer.
</p>

{% endblock content %}
